@model Scholas.Models.smk_itens

@{
    ViewBag.Title = "Delete";
}
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>smk_itens</legend>

    <div class="display-label">codigo_smk</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo_smk)
    </div>

    <div class="display-label">codigo_antigo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo_antigo)
    </div>

    <div class="display-label">descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Voltar", "Index")
    </p>
}
