@model Scholas.Models.categoria_materia_primas

@{
    ViewBag.Title = "Details";
}

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>categoria_materia_primas</legend>

    <div class="display-label">descricao</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descricao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
